* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    left: 250px;
    width: 100vw;
    height: 100px;
    padding: 0 30px;
    background-color: #f7f7f7;
    z-index: 10;
}

.header-kanan {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(185, 255, 102, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}
.sidebar-menu  {
    display: block;
}
.menu-atas, .menu-bawah  {
    padding-left: 20px;
    align-items: center;
}
.logo {
    width: 100px;
    height: 80px;
    margin: 0;
}
.menu-atas ul, .menu-bawah ul {
    list-style: none;
    text-align: left;
    
}
.menu-atas ul li, .menu-bawah ul li {
    margin: 20px 0;
}
.menu-atas li a, .menu-bawah li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.menu1, .menu2, .menu3, .menu4, .menu5 {
    display: flex;
    gap: 30px;
    cursor: pointer;
}
.selamat-datang-text {
    margin: 20px 0 10px 290px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    text-align: left;
    max-width: 350px;
}
.selamat-datang-text p {
    font-size: 24px;
    margin: 20px 0 0 0;
    font-weight: 500;
}
.takAda-container {
    display: flex;
    gap: 10px;
    margin: 20px 0 10px 290px;
}
.takAda-text p {
    font-size: 24px;
    font-family: poppins;
}
.tambah-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 175px;
    height: 40px;
    margin: 10px 0  0 290px;
    background-color: rgba(185, 255, 102, 0.75);
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
}
@media (max-width: 550px) {
    .admin-info {
        display: none;
    }
    .header {
        height: 75px;
    }
    .sidebar {
        width: 80px;
        height: 100%;
    }
    .sidebar-menu {
        padding-left: 5px;
    }
    .menu1 p, .menu2 p, .menu3 p, .menu4 p, .menu5 p {
        display: none;
    }
    .selamat-datang-text {
        margin: 20px 0 10px 150px;
    }
    .takAda-container {
        margin: 20px 0 10px 150px;
    }
    .tambah-data {
        margin: 20px 0 10px 150px;
    }
    .logo {
        padding: 10px;
    }
    .takAda-container p {
        font-size: 16px;
    }
}