.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(185, 255, 102, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-right: 10px;
}

.menu-atas {
    padding-left: 20px;
    align-items: center;
}
.menu-bawah {
    margin-bottom: 30px;
    padding-left: 20px;
}
.logo {
    width: 100px;
    height: 80px;
    margin: 0;
}

.menu-atas ul,
.menu-bawah ul {
    list-style: none;
    text-align: left;
}


.menu-atas ul li,
.menu-bawah ul li {
    margin: 20px 0;
}

.menu-atas li a,
.menu-bawah li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.menu-atas li img,
.menu-bawah li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5 {
    display: flex;
    gap: 20px;
    cursor: pointer;
}